@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

body {
  /* Para o rodapé */
  position: relative;
  width: 100%;
}

/* HOME NAVEGABILIDADE */
.navbar-brand {
  gap: 15px;
  font-size: 18px;
  transition: all 500ms;
}

.navbar-brand:hover {
  background-color: #ce07cb86;
  border-radius: 10px;
  font-size: 28px;
}

.home_pesquisa {
  display: none !important;
}

/* CAROUSEL */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

/* CARDS TÍTULO*/
.home_cards > h2 {
  font-size: 20px;
  color: green;
  text-align: center;
  padding: 10px 10px;
  text-transform: uppercase;
  text-decoration: underline;
}
.home_cards > h2::before {
  content: "🤑";
}

.home_cards > h2::after {
  content: "🤑";
}

/* CARDS */
.card_home {
  padding: 15px 15px 25px 10px;
  border: 1.5px solid rgba(97, 94, 94, 0.582);
}

.valor {
  color: gray;
  text-decoration: line-through;
  text-align: center;
  margin: 8px 0;
  font-size: 18px;
}
.card-title {
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-weight: 700;
  font-size: 23px;
  color: green;
}

.card-text {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.btn{
  margin-left: 35%;
}

/* RODAPÉ */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(73, 72, 72, 0.548);
  padding-top: 8px;
}

footer > a {
  padding: 0.25rem;
  text-decoration: none;
}

footer > a:hover {
  background-color: rgb(53, 4, 46);
}

footer i {
  font-size: 2.5rem;
  color: #ce07cb86;
  margin: 8px;
}

footer > div {
  font-size: 20px;
  font-weight: 700;
}

footer > div > small > a{
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: blueviolet;
}

@media (min-width: 768px) {
  /* HOME NAVEGAÇÃO */
  .navbar-brand {
    font-size: 25px;
  }

  .home_pesquisa {
    display: flex !important;
    gap: 10px;
  }

  /* CAMPO DE PESQUISA */
  .inicio {
    width: 250px;
    text-align: center;
  }

  /* HOME CARROUSEL */
  .carousel-item {
    height: 515px;
  }

  .btn {
    margin-left: 40%;
  }

  .btn > a {
    text-decoration: none;
  }

}

@media (min-width: 1280px) {
  /* CAMPO DE PESQUISA */
  .inicio {
    width: 450px;
    text-align: center;
    font-size: 20px;
  }

  /* HOME CARROUSEL */
  .carousel-item {
    height: 700px;
  }

  /* CARDS TÍTULO*/
  .home_cards > h2 {
    font-size: 40px;
    padding: 20px 35px;
  }

  .card-text {
  font-size: 23px;
}
}
