@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

.card{
    margin-top: 5%;
}
.carousel-item{
    height: 600px;
}

h2{
    margin-top: 3%;
    text-align: center;
}
h2::before{
    content:"🤑";
}

h2::after{
    content: "🤑";
}


