@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

body {

  /* Para o footer */
  position: relative;
  width: 100%;
}

/* HOME NAVEGABILIDADE */
.navbar-brand {
  gap: 15px;
  font-size: 18px;
  transition: all 500ms;
}

.navbar-brand:hover {
    background-color: #ce07cb86;
    border-radius: 10px;
    font-size: 28px;
}

.home_pesquisa {
  display: none !important;
}

/* CAROUSEL */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

/* CARDS TÍTULO*/
.home_cards > h2 {
  font-size: 20px;
  color: green;
  text-align: center;
  padding-top: 8px;
  text-transform: uppercase;
  text-decoration: underline;
}
.home_cards > h2::before {
  content: "🤑";
}

.home_cards > h2::after {
  content: "!!!🤑";
}

/* CARDS */
.card_home {
  padding: 15px 15px 25px 10px;
  border: 1.5px solid rgba(97, 94, 94, 0.582);
}

.card-title {
  text-align: center;
  margin: 8px 0px 10px 0px;
  font-weight: 700;
  font-size: 23px;
}

.card-text {
  font-size: 18px;
}

/* RODAPÉ */
footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  background-color: #ce07cb86;
  font-weight: 700;
}

footer a {
  text-decoration: none;
  color: tomato;
  padding: .25rem;
}

footer > div > small {
  display: block;
}

footer>a:hover {
  background-color: var(--verde-escuro);
  color: var(--verde);
}

footer i {
  font-size: 1.5rem;
  color: var(--verde);
}

footer > div > small {
  padding: 5px;
}


@media (min-width: 768px) {
  /* HOME NAVEGAÇÃO */
  .navbar-brand {
    font-size: 25px;
  }

  .home_pesquisa {
    display: flex !important;
    gap: 10px;
  }

  /* CAMPO DE PESQUISA */
  .inicio {
    width: 250px;
    text-align: center;
  }

  /* HOME CARROUSEL */
  .carousel-item {
    height: 515px;
  }
}

@media (min-width: 1280px) {
  /* CAMPO DE PESQUISA */
  .inicio {
    width: 450px;
    text-align: center;
    font-size: 20px;
  }

   /* HOME CARROUSEL */
   .carousel-item {
    height: 700px;

  }

  /* CARDS TÍTULO*/
.home_cards > h2 {
    font-size: 30px;
  }
}
